.main{
    border: px solid gray;
    background-color:  lightgray;
    width: 330px;
    margin: 0 auto;
    
}
.output{
    width: 94%;
    margin: 5px;
    font-size: 25px;
    padding: 5px;
    border: gray;
    
}
.btn{
    width: 75px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    border: none;
    cursor: pointer;

}
.clrbtn{
    width: 100% ;
}